.title-container {
  padding: 1.5rem;
  position: relative;
  background: url(homepage.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  background-color: aquamarine;
}

.carousel-container {
  background-color: darkslategray;
  height: 30vh;
}
